[env]
SHORT_SHA = "{{exec(command='git rev-parse --short HEAD')}}"
[tasks.short-sha]
run = "echo $SHORT_SHA"

[tasks.sync]
run = """
uv sync --all-groups
uv pip install -e .
"""
[tasks.lint]
run = "uv run ruff check . --fix"
[tasks.format]
run = "uv run ruff format ."
[tasks.vet]
depends = ["lint", "format"]
[tasks.test]
run = "uv run python -m pytest tests"
depends = ["sync"]

[tasks.download-stubs]
run = "uv run mypy --install-types --non-interactive"

[tasks.download-models]
depends = ["download-florence2-model", "download-sam2-model"]

[tasks.upload-models]
depends = ["upload-florence2-model", "upload-sam2-model"]

[tasks.download-florence2-model]
run = """
mkdir -p models/microsoft
gcloud storage cp -r gs://${GOOGLE_CLOUD_STORAGE_BUCKET}/models/microsoft/Florence-2-large models/microsoft/
"""
[tasks.download-sam2-model]
run = """
mkdir -p models/facebook
gcloud storage cp -r gs://${GOOGLE_CLOUD_STORAGE_BUCKET}/models/facebook/sam2.1-hiera-large models/facebook/
"""

[tasks.upload-florence2-model]
run = """
gcloud storage cp -r models/microsoft/Florence-2-large gs://${GOOGLE_CLOUD_STORAGE_BUCKET}/models/microsoft/
"""
[tasks.upload-sam2-model]
run = """
gcloud storage cp -r models/facebook/sam2.1-hiera-large gs://${GOOGLE_CLOUD_STORAGE_BUCKET}/models/facebook/
"""

[tasks.run]
run = "uv run gunicorn -c src/segmenter_api/gunicorn.conf.py"
depends = ["sync"]

[tasks.build]
run = """
gcloud builds submit . \
--config cloudbuild.yaml \
--project ${GOOGLE_CLOUD_PROJECT} \
--region ${GOOGLE_CLOUD_REGION} \
--substitutions=\
SHORT_SHA=${SHORT_SHA},\
_SERVICE_NAME=${SERVICE_NAME},\
_GOOGLE_CLOUD_REGION=${GOOGLE_CLOUD_REGION}
"""
[tools]
python = "3.11.7"
